.jumbotron{
    padding: 30px 32px;
    margin-bottom: 50px;
    background-color: yellow;
    color: black;
    margin-top: 40px;
}

.container{
    color: rgb(0, 0, 0);
    background-color:rgba(255, 255, 255, 0.4);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.btn{
    background-color: darkgreen;
}

footer{
    padding: 10px 10px 0 10px;
    background-color: yellow;
    margin-bottom: 0px;
    margin-top: 50px;
}

.card-hotel{
    flex:1 150px;
    padding: 2px 5px;
    margin-top: 10px;
}
.btn-reserva{
    width: 100%;
}