.jumbotron {
  padding: 30px 32px;
  margin-bottom: 50px;
  background-color: #fffa19;
  color: black;
  margin-top: 55px;
  margin-bottom: 0px; }

body {
  background-image: url("../resources/Imagenes/playa-sokha-en-sihanoukville.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.container {
  padding: 20px;
  color: black;
  background-color: #f0232350;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; }

.btn {
  background-color: #28b116; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #fffa19;
  margin-bottom: 0px;
  margin-top: 50px;
  margin-bottom: 0px; }

.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.slides {
  text-align: center; }
