$yellow: #fffa19;
$red:#f0232350;
$green:#28b116;


@mixin margenes($top,$bottom){
    margin-top :$top;
    margin-bottom:$bottom;
}

.jumbotron{
    padding: 30px 32px;
    margin-bottom: 50px;
    background-color: $yellow;
    color: black;
    @include margenes(55px,0px);
}

body{
    background-image: url("../resources/Imagenes/playa-sokha-en-sihanoukville.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container{
    padding: 20px;
    color: rgb(0, 0, 0);
    //background-color:rgba(255, 255, 255, 0.4);
    background-color: $red;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.btn{
    background-color: $green;
}

footer{
    padding: 10px 10px 0 10px;
    background-color: $yellow;
    margin-bottom: 0px;
    @include margenes(50px,0px);
}

.card-hotel{
    flex:1 200px;
    @include margenes(10px,0px);
}
.btn-reserva{
    width: 100%;
    border-radius: 0px;
}

.slides{
    text-align: center;
}