@yellow:fffa19;

.margenes(@top : 0px,@bottom: 0px){
    margin-top :@top;
    margin-bottom:@bottom;
}

.jumbotron {
    padding: 30px 32px;
    margin-bottom: 50px;
    background-color: @yellow;
    color: black;
    .margenes(50px, 0px);
}
  
  body {
    background-image: url("../resources/Imagenes/playa-sokha-en-sihanoukville.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
  
  .container {
    padding: 20px;
    color: black;
    background-color: rgba(255, 255, 255, 0.4);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; }
  
  .btn {
    background-color: darkgreen; }
  
  footer {
    padding: 10px 10px 0 10px;
    background-color: @yellow;
    margin-bottom: 0px;
    .margenes(10px, 0px);
 }
  
  .card-hotel {
    flex: 1 200px;
    .margenes(10px, 0px); 
}
  
  .btn-reserva {
    width: 100%;
    border-radius: 0px; }
  
  .slides {
    text-align: center; }
  